* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.list-inline {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
        padding: 20px 10px;
        font-size: 0;

        &.active {
            background-color: $mainColor;
        }
        &:hover {
            background-color: $mainColor;
        } 

        a {
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

